.u-section-1 {background-image: none; min-height: 701px}
.u-section-1 .u-image-1 {width: 1311px; left: auto; right: 0}
.u-section-1 .u-group-1 {width: 524px; min-height: 524px; height: auto; margin: 127px auto 0 calc(((100% - 1140px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-top: 0; padding-bottom: 0}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 6rem; margin: 9px 0 0}
.u-section-1 .u-text-2 {letter-spacing: normal; margin: 42px 20px 0 0}
.u-section-1 .u-text-3 {margin-right: 20px; margin-left: 0}
.u-section-1 .u-image-2 {width: 267px; height: 586px; animation-duration: 1000ms; margin: -556px calc(((100% - 1140px) / 2) + 144px) 20px auto} 

@media (max-width: 1199px){ .u-section-1 {min-height: 687px}
.u-section-1 .u-image-1 {width: 1065px; left: calc(((100% - 940px) / 2) + -75px); right: auto}
.u-section-1 .u-group-1 {margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 16px}
.u-section-1 .u-text-1 {position: relative; margin-top: 0; margin-right: 16px}
.u-section-1 .u-text-2 {position: relative; margin-right: 16px}
.u-section-1 .u-image-2 {height: 587px; margin-right: calc(((100% - 940px) / 2) + 144px)} }

@media (max-width: 991px){ .u-section-1 {min-height: 702px}
.u-section-1 .u-image-1 {width: 827px; left: calc(((100% - 720px) / 2) + -57px)}
.u-section-1 .u-group-1 {width: 360px; margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 13px}
.u-section-1 .u-text-1 {margin-right: 13px}
.u-section-1 .u-text-2 {margin-right: 13px}
.u-section-1 .u-image-2 {margin-top: -543px; margin-right: calc(((100% - 720px) / 2) + 42px); margin-bottom: 7px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {width: 644px; left: calc(((100% - 540px) / 2) + -54px)}
.u-section-1 .u-group-1 {width: 338px; min-height: 490px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 9px}
.u-section-1 .u-text-1 {margin-right: 9px}
.u-section-1 .u-text-2 {margin-right: 9px}
.u-section-1 .u-text-3 {margin-top: 20px; margin-right: 0; margin-bottom: 0}
.u-section-1 .u-image-2 {width: 171px; height: 376px; margin-top: -414px; margin-right: calc(((100% - 540px) / 2) + 11px); margin-bottom: 60px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1463px}
.u-section-1 .u-image-1 {width: 435px; left: auto; right: 0; object-position: 63.96% 50%; background-position: 63.96% 50%}
.u-section-1 .u-group-1 {min-height: 483px; width: 340px; margin-top: 178px; margin-left: auto}
.u-section-1 .u-container-layout-1 {padding-top: 15px; padding-right: 0; padding-left: 6px}
.u-section-1 .u-text-1 {width: auto; margin-right: 6px}
.u-section-1 .u-text-2 {margin-right: 6px}
.u-section-1 .u-image-2 {width: 295px; height: 648px; margin-top: 42px; margin-right: auto} }.u-section-2 {min-height: 524px}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 524px; background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px 100px 1px}
.u-section-2 .u-line-1 {width: 72px; position: relative; transform-origin: right center 0; margin: 148px auto 0 195px}
.u-section-2 .u-image-1 {width: 395px; height: 494px; animation-duration: 1000ms; margin: -151px 4px 0 auto}
.u-section-2 .u-layout-cell-2 {min-height: 524px; background-position: 0% 0%; background-image: linear-gradient(to right, #0b013c, #2e3d82)}
.u-section-2 .u-container-layout-2 {padding: 30px 100px}
.u-section-2 .u-text-1 {margin: 105px 0 0}
.u-section-2 .u-line-2 {width: 72px; position: relative; transform-origin: right center 0; margin: 19px auto 0 228px}
.u-section-2 .u-text-2 {margin: 34px 0 0}
.u-section-2 .u-btn-1 {font-size: 1.25rem; border-style: solid; font-weight: 700; text-transform: uppercase; margin: 0 auto; padding: 14px 86px 15px 84px} 

@media (max-width: 1199px){ .u-section-2 {min-height: 485px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 485px}
.u-section-2 .u-line-1 {width: 59px; margin-top: 165px}
.u-section-2 .u-image-1 {width: 270px; height: 338px; margin-right: 0}
.u-section-2 .u-layout-cell-2 {min-height: 485px}
.u-section-2 .u-text-1 {margin-top: 107px; margin-left: -3px; margin-right: -3px}
.u-section-2 .u-line-2 {width: 59px; height: 3px; margin-top: 24px; margin-left: auto}
.u-section-2 .u-text-2 {margin-top: 43px}
.u-section-2 .u-btn-1 {position: relative} }

@media (max-width: 991px){ .u-section-2 {min-height: 375px}
.u-section-2 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-line-1 {width: 45px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-line-2 {width: 45px} }

@media (max-width: 767px){ .u-section-2 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-line-1 {width: 43px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-line-2 {width: 43px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {margin-top: 69px}
.u-section-2 .u-line-2 {margin-top: 34px; margin-right: 182px}
.u-section-2 .u-text-2 {margin-top: 42px}
.u-section-2 .u-btn-1 {margin-top: 30px; padding-right: 35px; padding-left: 35px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 516px}
.u-section-3 .u-group-1 {width: 929px; min-height: 351px; height: auto; margin: 104px auto 60px}
.u-section-3 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-1 {font-size: 1.5rem; margin: 25px 0 0}
.u-section-3 .u-text-2 {font-size: 3rem; font-weight: 700; margin: 20px 0 0}
.u-section-3 .u-line-1 {width: 100px; height: 10px; margin: 30px auto 0}
.u-section-3 .u-text-3 {font-style: italic; font-size: 1.25rem; margin: 25px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-group-1 {width: 766px}
.u-section-3 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-1 {position: relative}
.u-section-3 .u-text-2 {position: relative}
.u-section-3 .u-line-1 {width: 82px} }

@media (max-width: 991px){ .u-section-3 .u-group-1 {width: 587px}
.u-section-3 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-line-1 {width: 63px} }

@media (max-width: 767px){ .u-section-3 .u-group-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-line-1 {width: 59px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px}
.u-section-3 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-line-1 {width: 50px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 4087px}
.u-section-4 .u-text-1 {width: 729px; font-weight: 700; margin: 111px auto 0}
.u-section-4 .u-layout-wrap-1 {margin: 130px 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 650px}
.u-section-4 .u-container-layout-1 {padding-bottom: 0; padding-top: 30px}
.u-section-4 .u-image-1 {width: 283px; height: 623px; animation-duration: 1000ms; margin: -7px auto 0}
.u-section-4 .u-layout-cell-2 {min-height: 650px; background-image: none}
.u-section-4 .u-container-layout-2 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 0 20px}
.u-section-4 .u-text-2 {font-size: 1.5rem; margin: 145px 0 0}
.u-section-4 .u-text-3 {font-size: 3rem; font-weight: 700; margin: 0}
.u-section-4 .u-line-1 {width: 100px; height: 10px; margin: 15px auto 0 0}
.u-section-4 .u-text-4 {font-style: italic; margin: 34px 44px 0 0}
.u-section-4 .u-layout-wrap-2 {margin: 200px auto 0 0}
.u-section-4 .u-layout-cell-3 {min-height: 654px}
.u-section-4 .u-container-layout-3 {padding: 30px 30px 1px}
.u-section-4 .u-image-2 {width: 283px; height: 623px; animation-duration: 1000ms; margin: 0 auto}
.u-section-4 .u-layout-cell-4 {min-height: 654px; background-image: none}
.u-section-4 .u-container-layout-4 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 30px}
.u-section-4 .u-line-2 {width: 100px; height: 10px; position: absolute; top: 227px; left: 30px}
.u-section-4 .u-text-5 {font-size: 1.5rem; margin: 92px auto 0 0}
.u-section-4 .u-text-6 {font-size: 3rem; font-weight: 700; margin: 13px auto 0 0}
.u-section-4 .u-text-7 {font-style: italic; font-size: 1.25rem; margin: 54px 56px 0 0}
.u-section-4 .u-layout-wrap-3 {margin-top: 89px; margin-bottom: 0}
.u-section-4 .u-layout-cell-5 {min-height: 663px}
.u-section-4 .u-container-layout-5 {padding: 30px 30px 2px}
.u-section-4 .u-image-3 {width: 283px; height: 631px; margin: 0 auto -8px}
.u-section-4 .u-layout-cell-6 {min-height: 663px; background-image: none}
.u-section-4 .u-container-layout-6 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 30px}
.u-section-4 .u-text-8 {font-size: 1.5rem; margin: 91px auto 0 0}
.u-section-4 .u-text-9 {font-size: 3rem; font-weight: 700; margin: 4px auto 0 0}
.u-section-4 .u-line-3 {width: 100px; height: 10px; position: absolute; top: 222px; left: 30px}
.u-section-4 .u-text-10 {font-style: italic; font-size: 1.25rem; margin: 74px 56px 0 0}
.u-section-4 .u-layout-wrap-4 {margin-top: 80px; margin-bottom: 0}
.u-section-4 .u-layout-cell-7 {min-height: 662px}
.u-section-4 .u-container-layout-7 {padding: 30px 30px 8px}
.u-section-4 .u-image-4 {width: 283px; height: 623px; margin: 0 auto}
.u-section-4 .u-layout-cell-8 {min-height: 662px; background-image: none}
.u-section-4 .u-container-layout-8 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 30px}
.u-section-4 .u-text-11 {font-size: 1.5rem; margin: 114px auto 0 0}
.u-section-4 .u-text-12 {font-size: 3rem; font-weight: 700; margin: 5px auto 0 0}
.u-section-4 .u-line-4 {width: 100px; height: 10px; position: absolute; top: 241px; left: 30px}
.u-section-4 .u-text-13 {font-style: italic; font-size: 1.25rem; margin: 46px 56px 0 0}
.u-section-4 .u-layout-wrap-5 {margin-top: 80px; margin-bottom: 60px}
.u-section-4 .u-layout-cell-9 {min-height: 657px}
.u-section-4 .u-container-layout-9 {padding: 30px 30px 3px}
.u-section-4 .u-image-5 {width: 283px; height: 623px; margin: 0 auto}
.u-section-4 .u-layout-cell-10 {min-height: 657px; background-image: none}
.u-section-4 .u-container-layout-10 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 30px}
.u-section-4 .u-text-14 {font-size: 1.5rem; margin: 84px auto 0 0}
.u-section-4 .u-text-15 {font-size: 3rem; font-weight: 700; margin: 0 auto 0 0}
.u-section-4 .u-line-5 {width: 100px; height: 10px; position: absolute; top: 205px; left: 30px}
.u-section-4 .u-text-16 {font-style: italic; font-size: 1.25rem; margin: 44px 44px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 400px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 536px; background-position: 50% 50%}
.u-section-4 .u-layout-cell-2 {min-height: 536px}
.u-section-4 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-2 {position: relative}
.u-section-4 .u-text-3 {position: relative}
.u-section-4 .u-line-1 {width: 82px; margin-right: 198px}
.u-section-4 .u-layout-wrap-2 {position: relative; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-3 {min-height: 539px}
.u-section-4 .u-image-2 {width: 253px; height: 557px}
.u-section-4 .u-layout-cell-4 {min-height: 539px}
.u-section-4 .u-line-2 {top: 270px}
.u-section-4 .u-text-6 {width: auto; margin-top: 0; margin-right: -24px; margin-left: auto}
.u-section-4 .u-text-7 {margin-top: 67px}
.u-section-4 .u-layout-wrap-3 {position: relative}
.u-section-4 .u-layout-cell-5 {min-height: 547px}
.u-section-4 .u-layout-cell-6 {min-height: 547px}
.u-section-4 .u-layout-wrap-4 {position: relative}
.u-section-4 .u-layout-cell-7 {min-height: 546px}
.u-section-4 .u-layout-cell-8 {min-height: 546px}
.u-section-4 .u-layout-wrap-5 {position: relative}
.u-section-4 .u-layout-cell-9 {min-height: 542px}
.u-section-4 .u-layout-cell-10 {min-height: 542px}
.u-section-4 .u-line-5 {top: 257px} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {width: 720px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-4 .u-text-2 {font-size: 1.25rem}
.u-section-4 .u-text-3 {font-size: 2.25rem}
.u-section-4 .u-line-1 {width: 63px; margin-right: 152px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-image-2 {width: 180px; height: 396px}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-text-6 {margin-right: -17px}
.u-section-4 .u-layout-cell-5 {min-height: 100px}
.u-section-4 .u-layout-cell-6 {min-height: 100px}
.u-section-4 .u-layout-cell-7 {min-height: 100px}
.u-section-4 .u-layout-cell-8 {min-height: 100px}
.u-section-4 .u-layout-cell-9 {min-height: 100px}
.u-section-4 .u-layout-cell-10 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-text-1 {width: 540px}
.u-section-4 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-text-3 {font-size: 3rem}
.u-section-4 .u-line-1 {width: 59px; margin-right: 114px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {width: 283px; height: 623px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-6 {margin-right: -25px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-10 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {width: 340px}
.u-section-4 .u-layout-wrap-1 {margin-top: 66px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-line-1 {width: 50px; margin-right: 72px}
.u-section-4 .u-image-2 {height: 630px; margin-top: -7px}
.u-section-4 .u-line-2 {left: 10px}
.u-section-4 .u-text-6 {margin-right: 5px; margin-left: 0}
.u-section-4 .u-text-7 {width: auto; margin-top: 53px}
.u-section-4 .u-image-3 {height: 625px; margin-bottom: 0}
.u-section-4 .u-text-8 {width: auto; margin-top: 29px}
.u-section-4 .u-text-9 {width: auto; margin-top: 12px}
.u-section-4 .u-line-3 {top: 176px; left: 10px}
.u-section-4 .u-text-10 {width: auto; margin-top: 60px}
.u-section-4 .u-text-11 {width: auto; margin-top: 46px}
.u-section-4 .u-text-12 {margin-top: 10px; margin-right: 0}
.u-section-4 .u-line-4 {top: 230px; left: 10px}
.u-section-4 .u-text-13 {width: auto; margin-top: 48px}
.u-section-4 .u-text-14 {width: auto; margin-top: 38px}
.u-section-4 .u-text-15 {width: auto; margin-top: 9px; margin-right: -10px; margin-left: auto}
.u-section-4 .u-line-5 {top: 293px; left: 10px}
.u-section-4 .u-text-16 {width: auto; margin-top: 71px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 583px}
.u-section-5 .u-text-1 {font-weight: 700; text-decoration: underline !important; margin: 77px auto 0}
.u-section-5 .u-text-2 {width: 680px; margin: 47px auto 60px} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 400px} }

@media (max-width: 767px){ .u-section-5 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-5 .u-text-2 {width: 340px} }.u-section-6 {background-image: none; min-height: 750px}
.u-section-6 .u-image-1 {width: 680px; height: 464px; margin: 60px 0 0 auto}
.u-section-6 .u-image-2 {width: 702px; height: 464px; margin: -601px auto 0 0}
.u-section-6 .u-layout-wrap-1 {width: 1140px; margin: -411px calc(((100% - 1140px) / 2) + -11px) 5px auto}
.u-section-6 .u-layout-cell-1 {min-height: 566px; background-image: linear-gradient(#0b013c, #2e3d82)}
.u-section-6 .u-image-3 {height: 397px; width: 383px; object-position: 0% 0%; animation-duration: 1000ms; margin: 0 auto}
.u-section-6 .u-layout-cell-2 {min-height: 566px}
.u-section-6 .u-text-1 {margin: 14px 19px 0}
.u-section-6 .u-text-2 {margin: 44px 22px 0}
.u-section-6 .u-text-3 {font-style: italic; font-size: 1.25rem; margin: 35px 28px 0 22px}
.u-section-6 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; margin: 47px auto 0 172px; padding: 9px 27px 10px} 

@media (max-width: 1199px){ .u-section-6 {min-height: 651px}
.u-section-6 .u-image-1 {width: 561px}
.u-section-6 .u-image-2 {width: 579px}
.u-section-6 .u-layout-wrap-1 {width: 940px; margin-right: calc(((100% - 940px) / 2))}
.u-section-6 .u-layout-cell-1 {min-height: 467px}
.u-section-6 .u-image-3 {height: 363px; width: 351px}
.u-section-6 .u-layout-cell-2 {min-height: 467px}
.u-section-6 .u-text-2 {margin-top: 3px}
.u-section-6 .u-text-3 {margin-top: 20px; margin-left: 20px; margin-right: 20px}
.u-section-6 .u-btn-1 {margin-top: 16px; margin-left: auto} }

@media (max-width: 991px){ .u-section-6 {min-height: 284px}
.u-section-6 .u-image-1 {width: 429px}
.u-section-6 .u-image-2 {width: 443px}
.u-section-6 .u-layout-wrap-1 {width: 720px; margin-right: calc(((100% - 720px) / 2))}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-image-3 {height: 264px; width: 255px}
.u-section-6 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-6 {min-height: 181px}
.u-section-6 .u-image-1 {width: 403px}
.u-section-6 .u-image-2 {width: 416px; margin-top: -505px}
.u-section-6 .u-layout-wrap-1 {width: 540px; margin-top: -304px; margin-right: calc(((100% - 540px) / 2))}
.u-section-6 .u-text-2 {margin-top: 44px}
.u-section-6 .u-text-3 {margin-top: 35px} }

@media (max-width: 575px){ .u-section-6 {min-height: 1203px}
.u-section-6 .u-image-1 {width: 338px; margin-top: 20px}
.u-section-6 .u-image-2 {width: 340px; margin-top: -369px}
.u-section-6 .u-layout-wrap-1 {width: 340px; margin-top: -529px; margin-right: auto; margin-bottom: 35px}
.u-section-6 .u-text-1 {width: auto; margin-top: 13px; margin-right: auto}
.u-section-6 .u-text-2 {margin-top: 41px}
.u-section-6 .u-text-3 {margin-top: 57px}
.u-section-6 .u-btn-1 {margin-top: 63px; margin-left: 41px} }.u-section-7 {background-image: url("images/d7602255848ab028e47a16d5ebcc8d18.jpeg"); background-position: 50% 50%}
.u-section-7 .u-sheet-1 {min-height: 501px}
.u-section-7 .u-layout-wrap-1 {margin: 54px auto 50px 0}
.u-section-7 .u-layout-cell-1 {min-height: 492px}
.u-section-7 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-7 .u-text-1 {font-weight: 700; margin: 30px 0 0}
.u-section-7 .u-text-2 {margin: 20px 0 30px}
.u-section-7 .u-btn-1 {padding: 0}
.u-section-7 .u-btn-2 {padding: 0}
.u-section-7 .u-layout-cell-2 {min-height: 492px}
.u-section-7 .u-image-1 {width: 467px; height: 381px; animation-duration: 1000ms; margin: 5px auto} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 400px}
.u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-7 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-7 .u-text-1 {position: relative}
.u-section-7 .u-text-2 {position: relative}
.u-section-7 .u-image-1 {width: 385px} }

@media (max-width: 991px){ .u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-image-1 {width: 295px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 657px}
.u-section-7 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-7 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-7 .u-text-2 {margin-bottom: 0}
.u-section-7 .u-image-1 {width: 276px; height: 225px; margin-top: -67px; margin-bottom: 77px} }

@media (max-width: 575px){ .u-section-7 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-7 .u-text-1 {margin-top: 75px}
.u-section-7 .u-image-1 {width: 232px} }